body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.loader {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.maaltijdFormulier {
  margin-top: 50px;
  max-width: 450px;
  margin-right: "auto";
}
.blue {
  background-color: #0269c9;
}
.blueText {
  color: #0269c9;
}
.formMargin {
  margin-bottom: 10px;
}
.nonActiveButton {
  opacity: 0.8;
}
.header {
  height: 150px;
  line-height: 80px;
  background-color: transparent;
}
.content {
  margin: 50px;
}
.menu {
  margin: 10px 0;
  border-color: #0269c9;
  border-width: 5px;
}
.form {
  max-width: 400px;
  margin: auto;
}
.form-button {
  width: 45%;
}
.form-profiel{
  max-width: 400px;

}
.form-button-container {
  display: flex;
  justify-content: space-between;
}

.logout{
  display: flex;
  justify-content: center;
}